/* Component parent */
nav.navbar {
  justify-content: space-between;
}



/* Component child/children */
/* Theme styles */
/* Dark & Light */
.navbar.theme--dark,
.navbar.theme--light {
  & .logo--container {
    gap: var(--xxs);
    font-family: "Asap Condensed", sans-serif;
    user-select: none;

    & span:first-child {
      font-weight: 400;
      color: var(--logo-font-color);
    }

    & span:last-child {
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  & .board--title {
    font-family: "Asap";
    font-weight: 600;
  }

  & .navbar--btns,
  .navbar--control-btns {
    height: 100%;

    & .navbar--control-btns>.btn--icon {
      padding: var(--sm) var(--lg);
      filter: saturate(0%) grayscale(50%);
    }

    & .navbar--control-btns>.btn--icon:hover,
    & .navbar--control-btns>.active-tab {
      filter: none;
    }
  }

  & .navbar--theme-btn>.btn--icon:hover {
    background-color: var(--logo-transparent);
  }

  & .btn--icon {
    padding: var(--sm) var(--lg);
  }
}



/* Dark only */
.navbar.theme--dark {
  color: white;

  & .separator {
    outline-color: var(--separator-light);
  }


  & .navbar--control-btns>.btn--icon:hover,
  .navbar--control-btns>.active-tab {
    background-color: var(--btn-bg-dark);
  }
}



/* Light only */
.navbar.theme--light {
  & .board--title {
    color: black;
  }

  & .separator {
    outline-color: var(--separator-dark);
  }

  & .navbar--control-btns>.btn--icon:hover,
  & .navbar--control-btns>.active-tab {
    background-color: var(--btn-bg-light);
  }
}