nav,
.logo,
.navbar--controls {
  display: flex;
  align-items: center;
}

nav {
  --color-border: #52667220;

  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--color-border);
}

.logo {
  & h1.logo--text {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.75rem;

    & span {
      font-weight: 700;
    }
  }
}

.active-board--title {
  font-size: 2rem;
}

.navbar--controls {
  gap: 1rem;

  .navbar--btn {
    background: none;
    border: none;
    filter: saturate(10%);
    border-radius: 50%;
    padding: 0.5rem;
  }

  .navbar--btn:hover {
    background-color: var(--color-border);
    filter: none;
  }
}